@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Open Sans", sans-serif;
}

:root {
    --color-primary: #ac04ac;
    --color-secondary: #c714c7;
    --color-accent: #5f14c7;
    --color-neutral: rgb(255, 211, 255);
    --color-white: #fff;
    --color-black: #000;
    --color-gray: rgba(0, 0, 0, 0.305) 0;
    --color-danger: red;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-medium: rgba(0, 0, 0, 0.2);
    --shadow-light: rgba(0, 0, 0, 0.1);
}
